@model FilmDatabase.ViewModels.FilmListViewModel;
@{
	ViewData["Title"] = "Filmdatabase Guy";
}

<div class="container mystyle">
	<h1 class="title">@ViewData["Title"]</h1>

	<div class="row">

		@foreach (var film in Model.Films)
		{

			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img src="@film.Poster" class="card-img-top" alt="@film.Poster">
					<div class="card-body cardbutton">
						<h5 class="card-title">@film.Titel</h5>
						<p class="card-text">@film.Samenvatting</p>
						<div class="cardbutton">
							<a class="btn btn-primary cardbutton" asp-area="" asp-controller="Details" asp-action="Index" asp-route-id="@film.FilmId">Details  </a>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
</div>
