@model FilmDatabase.ViewModels.GebruikerDetailsViewModel

@{
	ViewData["Title"] = "Details";
}

<div class="container">
	<h1>@Model.Voornaam @Model.Familienaam</h1>

	<p>
		Id: @Model.Id;

	</p>
	<p>
		Gebruikersnaam: @Model.UserName;

	</p>
	<p>
		Geboorte datum: @Model.Geboortedatum;

	</p>

	@Html.ActionLink("Terug", "Index", "Gebruiker")

</div>