@model FilmDatabase.ViewModels.DetailsViewModel
@{
	ViewData["Title"] = @Model.Titel;
}
<div class="container text-center">
	<h1>@ViewData["Title"]</h1>
	<img style="height:650px" src="@Model.Poster">
	<div class="col-md-6; float-left" style="display:inline-block">
		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Release datum:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.ReleaseDatum
			</div>

		</div>

		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Id:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.FilmId
			</div>
		</div>
		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Genre:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.Genre
			</div>
		</div>
		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Verdeler:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.Verdeler
			</div>
		</div>
		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Lengte:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.Lengte u
			</div>
		</div>

		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Rating:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.Rating
			</div>
		</div>
		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">
				<h3>Schrijver:</h3>
			</div>
			<div style="font-weight:lighter; display:inline-block">
				@Model.Schrijver
			</div>
		</div>

		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">

				<div style="font-weight:bold; display:inline-block">
					<h3>Acteurs:</h3>
				</div>


				@if (Model.Acteurs == null)
				{
					<div style="font-weight:lighter; text-indent:20px"></div>

					<ul>
						<li>Er zijn nog geen acteurs toegevoegd voor deze film</li>
					</ul>
				}
				else
				{
					@foreach (var acteur in Model.Acteurs)
					{
						<div style="font-weight:lighter; text-indent:20px">
							<ul>
								<li style="text-indent:20px">@acteur.Voornaam @acteur.Familienaam</li>
							</ul>
						</div>
					}

				}
			</div>

		</div>

		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">

				<div style="font-weight:bold; display:inline-block">
					<h3>Producent(en):</h3>
				</div>


				@if (Model.Producenten == null)
				{
					<div style="font-weight:lighter; text-indent:20px"></div>

					<ul>
						<li>Er zijn nog geen producenten toegevoegd voor deze film</li>
					</ul>
				}
				else
				{
					@foreach (var producent in Model.Producenten)
					{
						<div style="font-weight:lighter; text-indent:20px">
							<ul>
								<li style="text-indent:20px">@producent.Voornaam @producent.Familienaam</li>
							</ul>
						</div>
					}

				}
			</div>

		</div>
		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">

				<div style="font-weight:bold; display:inline-block">
					<h3>Regisseur(s)</h3>
				</div>


				@if (Model.Regisseurs == null)
				{
					<div style="font-weight:lighter; text-indent:20px"></div>

					<ul>
						<li>Er zijn nog geen regisseurs toegevoegd voor deze film</li>
					</ul>
				}
				else
				{
					@foreach (var regisseur in Model.Regisseurs)
					{
						<div style="font-weight:lighter; text-indent:20px">
							<ul>
								<li style="text-indent:20px">@regisseur.Voornaam @regisseur.Familienaam</li>
							</ul>
						</div>
					}

				}
			</div>

		</div>

		<div style="text-align:left">
			<div style="font-weight:bold; display:inline-block">

				<div style="font-weight:bold; display:inline-block">
					<h3>Samenvatting: </h3>
				</div>

				@{
					var samenvatting = "";
				}
				@if (!string.IsNullOrWhiteSpace(@Model.Samenvatting))
				{

					samenvatting = Model.Samenvatting;


				}
				else
				{
					samenvatting = "Geen samenvatting beschikbaar";
				}
				<div style="font-weight:lighter; display:inline-block">
					@samenvatting
				</div>


			</div>

		</div>


	</div>
</div>








@if (User.IsInRole("user"))
{
	<div style="text-align:center">
		<div class="btn">
			<a asp-action="AanpassenSamenvatting" asp-controller="Details" asp-route-id="@Model.FilmId" class="btn btn-primary">Bewerk Samenvatting</a>
		</div>
	</div>
}

@if (User.IsInRole("admin"))
{
	<div style="text-align:center">
		<div class="btn" style="display:inline-block">
			<a asp-action="EditFilm" asp-controller="Details" asp-route-id="@Model.FilmId" class="btn btn-primary">Bewerk Film</a>
		</div>
		
		<div class="btn" style="display:inline-block">
			<a asp-action="Index" asp-controller="ActeurToevoegen"  asp-route-id="@Model.FilmId" class="btn btn-primary">Acteur toevoegen</a>
		</div>
		<div class="btn" style="display:inline-block">
			<a asp-action="Index" asp-controller="ProducentToevoegen" asp-route-id="@Model.FilmId" class="btn btn-primary">Producent Toevoegen</a>
		</div>
		<div class="btn" style="display:inline-block">
			<a asp-action="Index" asp-controller="RegisseurToevoegen"  asp-route-id="@Model.FilmId" class="btn btn-primary">Regisseur Toevoegen</a>
		</div>
		<div class="btn btn-danger" style="display:inline-block; ">
			<a asp-action="DeleteFilm" asp-controller="Details" onclick="return confirm('Bent u zeker dat u deze film wil verwijderen? Deze actie kan niet ongedaan gemaakt worden!');" asp-route-id="@Model.FilmId" class="btn btn-danger">Verwijder Film</a>
		</div>
	</div>
}

</div>


